.live-text{
    background: lawngreen;
    color: white;
    width: 75px;
    padding: 1px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}
.game-box{
    background:white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
.game-text{
    text-align: start;
    font-weight: 700;
}
.at-text{
    text-align: center;
    font-size: 1.5rem;
}
.time-box{
    margin: auto;
}
.time-text{
    margin: auto;
    text-align: center;
}
.sprite{
    background: url('/nhllogos2.png') no-repeat;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-50{
    padding-top: 50px;
}