body{
  background: #ededed !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
  text-align: center;
}
.refresh-button{
  margin: 10px auto;
  position: relative;
  display: block;
  background: black;
  color: white;
  border-radius: 5px;
}
.sticky-navbar{
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1000000;
}